<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    <!-- Chat Function -->
    <div class="Icon" id="chat" onclick="toggleWindow('chatWindow')"><img src="../static/img/chat/LOGO.svg" alt="Chat Logo"></div>
    <div id="chatWindow">
        <div class="message_holder"></div>
        <form>
            <input type="text" class="username" placeholder="User Name" required/>
            <input type="text" class="message" placeholder="Messages" required/>
            <input type="submit"/>
        </form>
    </div>

    <!-- Task Function -->
    <div class="Icon" id="task" onclick="toggleWindow('taskWindow')"><img src="../static/img/task/LOGO.svg" alt="Task Logo"></div>
    <div class="taskWindow">

    </div>
</body>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='chat.js') }}"></script>
</html>
